*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", monospace;
  color: black;
  font-weight: 600;
  background-color: rgba(206, 101, 101, 0.76);
}

.mainContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32vw;

  height: 100vh;
}

.header {
  position: absolute;
  width: 100%;
  height: 10rem;
  border-bottom: 1px solid rgba(160, 113, 113, 0.541);
}

.header__list {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header__items--logo {
  margin-right: auto;
}

.header__link {
  border: 1px solid white;

  width: 100%;
  height: 100%;
  text-decoration: none;
  color: whitesmoke;
  font-size: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__link:hover {
  color: rgba(206, 101, 101, 0.76);
  background-color: white;
  transition: 0.4s all ease;
}
.header__link:hover .header__icon {
  fill: rgba(206, 101, 101, 0.76);
  transition: 0.4s all ease;
}

.header__icon {
  width: 3rem;
  fill: white;
  height: 3rem;
}

.header__logo--span {
  font-size: 2rem;
}
.header__link--span {
  font-size: 1.4rem;
}

.main {
  transition: 1s ease all;
  width: 90%;
  height: 550px;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__pomodoroMethod {
  position: relative;
  width: 100%;
  top: 6rem;
  display: flex;

  justify-content: center;
}
.pomodoro__list {
  display: flex;
  width: 100%;
  justify-content: center;
  list-style: none;
  font-size: 2rem;
  color: white;
}

.pomodoro__item {
  background-color: rgba(206, 101, 101, 0.76);
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  outline: none;
  border: none;
  color: white;
  border-radius: 10px;
}
.pomodoro__item:focus {
  outline: none;
}

.pomodoro__active {
  color: rgba(206, 101, 101, 0.76);
  background-color: white;
}
.main__clock {
  width: 80%;
  height: 300px;
  top: 8rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__clock--clock {
  font-size: 13rem;
  color: white;
}

.main__clock--button {
  position: relative;
  top: 2rem;
}
.start {
  transition: 1s all ease;
  padding: 3rem 9rem 3rem 9rem;
  font-size: 4rem;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 10px 0px rgba(255, 255, 255, 0.74);
}

.start:active {
  outline: none;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.185);

  transform: translateY(10px);
}
.start:focus {
  outline: none;
}

.stop {
  border-radius: 20px;
  transition: 1s all ease;
  padding: 3rem 10rem 3rem 10rem;
  font-size: 4rem;
  border: none;
  transform: translateY(10px);
}

.stop:active {
  outline: none;
  transform: translateY(-10px);
}
.stop:focus {
  outline: none;
}

.hidden {
  display: none;
}

.settings {
  height: 700px;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: white;
  border-radius: 20px;
}

.settings__header {
  width: 100%;
  height: 10%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.card {
  border-left: none;
  border-right: none;
  border-top: none;
}
.settings__close {
  font-size: 3rem;
  position: relative;
  color: rgba(59, 59, 59, 0.856);
  left: 0;
}

.settings__close:hover {
  color: black;
}

.settings__header--title {
  font-size: 2rem;
  width: 90%;
  color: rgba(59, 59, 59, 0.856);

  height: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.settings__timeSettings {
  font-size: 3rem;

  color: rgba(59, 59, 59, 0.856);
}

.settings__time {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.settings__header--minutes {
  font-size: 2rem;
  width: 90%;
  padding-bottom: 2rem;
  color: rgba(59, 59, 59, 0.856);
}
.settings__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  list-style: none;
}
.settings__input {
  width: 12rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.034);
  border: none;
  padding-left: 2rem;
  margin-right: 2rem;
}

.settings__input:focus {
  outline: none;
}

.settings__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings__item--span {
  align-self: flex-start;
  color: rgba(59, 59, 59, 0.486);
}

.settings__ok {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 2rem;
  border: none;
}
